h1 {
    color: purple;
}

p {
    text-indent: 35px;
}

a {
    color: red;
}

h2 {
    border-left: 5px solid red;
    border-bottom: 5px solid red;
}

li {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delstr {
    text-decoration: line-through;
}

.addBorder {
    border: 10px solid gray;
}

